<h1>RailsConf 2011 Presentations, from Best to Worst</h1>

<div id="intro">
  <p>
    This is a list of all <%= link_to "RailsConf 2011", "http://en.oreilly.com/rails2011" %> presentations,
    including keynotes and regular talks, with the highest-rated talks at the top.  Ratings were
    provided by RailsConf attendees. Unrated presentations are at the end.
  </p>
  <p>
    This site is not affiliated with RailsConf
    or O'Reilly media.  It is provided as a free service by
    me (<%= link_to "Brian Morearty", "http://ilikestuffblog.com/" %>).
  </p>
  <p>
    I figured I wasn't the only one who missed some of the better
    talks and wanted an easy way to identify them.
  </p>
  <p>
    Once you've identified one you want to watch, find it on one of these places:
  </p>
  <ul>
    <li>
      <%= link_to "RailsConf 2011 videos and slides on O'Reilly", "http://en.oreilly.com/rails2011/public/schedule/proceedings" %>
      or
    </li>
    <li>
      <%= link_to "RailsConf 2011 videos on YouTube", "http://www.youtube.com/view_play_list?p=379EA9290474C86C" %>.
    </li>
  </ul>
  <p>
    (As of this writing, only some conference videos have been uploaded to these sites.)
  </p>
  <p>
    <strong>Please improve this site.</strong> Currently the presentation links don't go to videos--they go
    to the presentation descriptions.  But I was in a hurry to get this up so people can use it on the
    weekend after RailsConf.  I don't have time to improve it right this second but would love it if
    someone could fork it and make each link go directly to
    <%= link_to "the right video", "http://en.oreilly.com/rails2011/public/schedule/proceedings" %>.
  </p>
</div>

<div id="presentations">
  <div id="rated">
    <h2>Rated Presentations</h2>
    <%= render presentations.rated %>
  </div>
  <div id="unrated">
    <h2>Unrated Presentations</h2>
    <%= render presentations.unrated %>
  </div>
</div>